@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anton Regular";
  src: url("/fonts/Anton-Regular.ttf") format("opentype");
  /* font-weight: 900; */
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #6f7789;
  --text-colour-one: #6f7789;

  --divider-gray: rgba(111, 119, 137, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "Anton Regular", sans-serif; */
}
