@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Compact Rounded Heavy";
  src: url("/public/fonts/SF-Compact-Rounded-Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border:#6F7789;
  --text-colour-one:#6F7789;

  --divider-gray: rgba(111, 119, 137, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
   font-family: "SF Compact Rounded Heavy", sans-serif;
}
