@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display.woff2") format("woff2"),
       url("/fonts/SF-Pro-Display.woff") format("woff"),
       url("/fonts/SF-Pro-Display.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border:#6F7789;
  --text-colour-one:#6F7789;

  --divider-gray: rgba(111, 119, 137, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "SF Pro Display", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Inter", sans-serif;
}
